{{ define "fragment" }}
<div id="modal-scans" class="grid">
    <div>
        <strong>Looking for:</strong>
        <ul>
            {{ range .team.Clues.Active }}
            <li>{{ .Clue.Location }}
                <a hx-get="/admin/teams/solve/{{ .Team }}/{{ .ClueCode }}" hx-target="#modal-scans" hx-swap="outerHTML">(Solve)</a>
            </li>
            {{ end }}
        </ul>
    </div>
    
    <div>
        <strong>Found:</strong>
        <ul>
            {{ range .team.Clues.Found }}
            <li>{{ .Clue.Location }}, {{ .Found.Format "3:04 pm"}}
           <a hx-get="/admin/teams/unsolve/{{ .Team }}/{{ .ClueCode }}" hx-target="#modal-scans" hx-swap="outerHTML">(Undo)</a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}