{{ define "body" }}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr class="mb-5">
            <h1 class="h3 mb-3 font-weight-normal">Dashboard</h1>
            <hr class="my-5">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Teams Playing</h5>
                  <h6 class="card-subtitle h2 mb-2">
                      {{ len .teams }}
                  </h6>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Time left</h5>
                  <h6 class="card-subtitle h2 mb-2">
                      {{ len .teams }}
                  </h6>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">Most Clues Solved</h5>
                  <h6 class="card-subtitle h2 mb-2">
                      {{ len .teams }}
                  </h6>
                </div>
              </div>
        </div>
    </div>
    <div class="row text-left">
        {{ range .teams }}
        <div class="col-md-3 col-sm-6">
            <div class="col">
                <h3 class="h4 my-3 pt-5 font-weight-normal">{{ .Code }}</h3>
                <p>
                    Solved:<br />
                </p>
                <p>
                    Last Seen {{ .UpdatedAt.Format "03:04" }}
                </p>
                <p>
                    Looking For:
                    <ul>
                        {{ range .ClueLog}}                    
                        {{ if .Active }}
                                <li class="mt-2">{{ .Clue.Location }}</li>
                        {{ end }}
                        {{end}}
                    </ul>
                </p>
                <form action="/admin/ff" method="POST" class="d-inline-block">
                    <input type="hidden" name="code" value="{{.Code}}">
                    <button type="submit" class="btn btn-sm btn-primary">Help</button>
                </form>
                <form action="/admin/hinder" method="POST" class="d-inline-block">
                    <input type="hidden" name="code" value="{{.Code}}">
                    <button type="submit" class="btn btn-sm btn-danger">Hinder</button>
                </form>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}