{{ define "body" }}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr class="mb-5">
            <h1 class="h3 mb-3 font-weight-normal">Dashboard</h1>
            <hr class="my-5">
        </div>
    </div>
    <div class="row">
        {{ template "flash" . }}
        {{ if not .game }}
        <div class="alert alert-secondary">
            There are no games scheduled to start. Do you want to <a href="/admin/schedule">schedule a game</a>?
        </div>
        {{ end }}
        {{ if eq .clue_count 0 }}
        <div class="alert alert-secondary">
            There are not clues yet. Do you want to <a href="/admin/clues">add clues</a>?
        </div>
        {{ end }}
        {{ if eq .code_count 0 }}
        <div class="alert alert-secondary">
            There are no teams yet. Do you want to <a href="/admin/teams">generate team codes</a>?
        </div>
        {{ else }}
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Team</th>
                    <th scope="col">Last Seen</th>
                    <th scope="col">Score</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ if eq (len .teams) 0 }}
                    <tr>
                        <th colspan="5" style="text-align: center; padding: 2em;">Teams will appear here when they first check in.</th>
                    </tr>
                {{end }}
                {{ range $i, $team := .teams }}
                <tr>
                    <th scope="row">{{ add $i 1 }}</th>
                    <td>
                        <strong>
                            {{ $team.Code }}
                        </strong>
                    </td>
                    <td>{{ $team.UpdatedAt.Format "3:04 pm" }}</td>
                    <td class="w-50">
                        <div class="progress mt-1" style="height: 20px;">
                            <div class="progress-bar" role="progressbar" style="width: {{ progress $team.Found (len $team.ClueLog) }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <strong>{{ $team.Found }}</strong>
                            </div>
                        </div>
                    </td>
                    <td>
                        <form action="/admin/rewind" method="POST" class="d-inline-block">
                            <input type="hidden" name="code" value="{{$team.Code}}">
                            <button type="submit" class="btn btn-sm btn-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-skip-backward-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V8.753l6.267 3.636c.54.313 1.233-.066 1.233-.697v-2.94l6.267 3.636c.54.314 1.233-.065 1.233-.696V4.308c0-.63-.693-1.01-1.233-.696L8.5 7.248v-2.94c0-.63-.692-1.01-1.233-.696L1 7.248V4a.5.5 0 0 0-.5-.5z" />
                                </svg>
                                Rewind
                            </button>
                        </form>
                        <form action="/admin/shuffle" method="POST" class="d-inline-block">
                            <input type="hidden" name="code" value="{{$team.Code}}">
                            <button type="submit" class="btn btn-sm btn-warning">Shuffle
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shuffle" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"/>
                                    <path d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"/>
                                  </svg>
                            </button>
                        </form>
                        <form action="/admin/fastforward" method="POST" class="d-inline-block">
                            <input type="hidden" name="code" value="{{$team.Code}}">
                            <button type="submit" class="btn btn-sm btn-secondary">Fast Forward
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-forward-fill" viewBox="0 0 16 16">
                                    <path d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.753l-6.267 3.636c-.54.313-1.233-.066-1.233-.697v-2.94l-6.267 3.636C.693 12.703 0 12.324 0 11.693V4.308c0-.63.693-1.01 1.233-.696L7.5 7.248v-2.94c0-.63.693-1.01 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5z"/>
                                  </svg>
                            </button>
                        </form>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        {{ end }}
    </div>
</div>
{{ end }}