{{ define "body" }}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr class="mb-5">
            <h1 class="h3 mb-3 font-weight-normal">Available team codes</h1>
            <hr class="my-5">
        </div>
    </div>
    <div class="row">
        {{ template "flash" .}}
        <form method="POST" action="/admin/teams/generate" class="text-center pt-2 pb-4">
            <button class="btn btn-primary" type="submit" name="count" value="1">+1 Team</button>
            <button class="btn btn-primary" type="submit" name="count" value="5">+5 Teams</button>
            <button class="btn btn-primary" type="submit" name="count" value="10">+10 Teams</button>
            <button class="btn btn-primary" type="submit" name="count" value="50">+50 Teams</button>
            <button class="btn btn-danger" type="submit" name="count" value="0">Delete All</button>
        </form>
        {{ range .teams }} 
        <div class="col-4 col-sm-3 col-md-2 col-lg-1">
            <h2 class="h5 py-4">
                {{ .Code }}
                {{ .Started }}
            </h2>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}