{{ define "body" }}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr class="mb-5">
            <h1 class="h3 mb-3 font-weight-normal">Clues</h1>
            <hr class="my-5">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ template "flash" . }}
            
            <h5 class="card-title">Add clue</h5>
            <form method="POST" action="/admin/clues/create" class="mb-5">
                <div class="row g-3">
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="Location" name="location" aria-label="City">
                    </div>
                    <div class="col-sm">
                        <input type="text" class="form-control" placeholder="Clue" name="clue" aria-label="State">
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Location</th>
                        <th scope="col">Clue</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {{ if index . "clues" }}
                <tbody>
                    {{ range .clues}}
                    <tr>
                        <th scope="row">{{ .Code }}</th>
                        <td>{{ .Location }}</td>
                        <td>{{ .Clue }}</td>
                        <td>
                            <form method="POST" action="/admin/clues/delete">
                                <button class="btn btn-sm btn-danger" name="code" value="{{.Code}}">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
                {{ end }}
            </table>
        </div>
    </div>
</div>
{{ end }}